/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.kenzap .kenzap-clients-1 div,
.kenzap .kenzap-clients-1 img,
.kenzap .kenzap-clients-1 ul,
.kenzap .kenzap-clients-1 li,
.kenzap .kenzap-clients-1 p,
.kenzap .kenzap-clients-1 a{
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
	text-decoration: none;
	list-style:none
}

.kenzap .kenzap-clients-1 .kenzap-container{
	max-width:1170px;
	padding:0 15px;
	margin:0 auto;
}

.kenzap .kenzap-clients-1 ul{
	padding:0;
	margin:0;
	list-style:none;
	overflow:hidden;
}

.kenzap .kenzap-clients-1 ul li{
	width:25%;
	float:left;
}

.kenzap .kenzap-clients-1 ul li a{
	display:flex;
	display:-webkit-flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:center;
	-webkit-justify-content:center;
	height:192px;
	border-right:1px dashed #d7e0e5;
	border-bottom:1px dashed #d7e0e5;
}

.kenzap .kenzap-clients-1 ul li:nth-child(4n+4) a{
	border-right:none;
}

.kenzap .kenzap-clients-1 ul li:nth-child(n+9) a{
	border-bottom:none;
}

.kenzap .kenzap-clients-1 ul li a img{
	display:block;
	width:165px;
	height:auto;
	// object-fit: contain;
}

@media screen and (max-width: 61.938em) {
	/* width: 991px; */
	
	.kenzap .kenzap-clients-1 ul li{
		width:33.33333%;
	}
	
	.kenzap .kenzap-clients-1 ul li:nth-child(4n+4) a{
		border-right:1px dashed #d7e0e5;
	}

	.kenzap .kenzap-clients-1 ul li:nth-child(n+9) a{
		border-bottom:1px dashed #d7e0e5;
	}
	
	.kenzap .kenzap-clients-1 ul li:nth-child(3n+3) a{
		border-right:none;
	}

	.kenzap .kenzap-clients-1 ul li:nth-child(n+10) a{
		border-bottom:none;
	}	
}

@media screen and (min-width: 61.938em) {
	/* width: 991px; */
	
	.kenzap .kenzap-clients-1 .kenzap-md ul li{
		width:33.33333%;
	}
	
	.kenzap .kenzap-clients-1 .kenzap-md ul li:nth-child(4n+4) a{
		border-right:1px dashed #d7e0e5;
	}

	.kenzap .kenzap-clients-1 .kenzap-md ul li:nth-child(n+9) a{
		border-bottom:1px dashed #d7e0e5;
	}
	
	.kenzap .kenzap-clients-1 .kenzap-md ul li:nth-child(3n+3) a{
		border-right:none;
	}

	.kenzap .kenzap-clients-1 .kenzap-md ul li:nth-child(n+10) a{
		border-bottom:none;
	}	
}

@media screen and (max-width: 48em) {
	/* width 768px */
	
	.kenzap .kenzap-clients-1 ul li{
		width:50%;
	}
		
	.kenzap-clients-1 ul li:nth-child(3n+3) a{
		border-right:1px dashed #d7e0e5;
	}

	.kenzap .kenzap-clients-1 ul li:nth-child(n+10) a{
		border-bottom:1px dashed #d7e0e5;
	}
	
	.kenzap .kenzap-clients-1 ul li:nth-child(2n+2) a{
		border-right:none;
	}

	.kenzap .kenzap-clients-1 ul li:nth-child(n+11) a{
		border-bottom:none;
	}
}

@media screen and (min-width: 48em) {
	/* width 768px */
	
	.kenzap .kenzap-clients-1 .kenzap-sm ul li{
		width:50%;
	}
		
	.kenzap .kenzap-clients-1 .kenzap-sm ul li:nth-child(3n+3) a{
		border-right:1px dashed #d7e0e5;
	}

	.kenzap .kenzap-clients-1 .kenzap-sm ul li:nth-child(n+10) a{
		border-bottom:1px dashed #d7e0e5;
	}
	
	.kenzap .kenzap-clients-1 .kenzap-sm ul li:nth-child(2n+2) a{
		border-right:none;
	}

	.kenzap .kenzap-clients-1 .kenzap-sm ul li:nth-child(n+11) a{
		border-bottom:none;
	}
}

@media screen and (max-width: 30em) {
	/* width 480px */
	
	.kenzap .kenzap-clients-1 ul li{
		width:100%;
	}
	
	.kenzap .kenzap-clients-1 ul li a,
	.kenzap .kenzap-clients-1 ul li:nth-child(3n+3) a,
	.kenzap .kenzap-clients-1 ul li:nth-child(2n+2) a{
		border-right:none;
	}

	.kenzap .kenzap-clients-1 ul li:nth-child(n+11) a{
		border-bottom:1px dashed #d7e0e5;
	}
		
	.kenzap .kenzap-clients-1 ul li:last-child a{
		border-bottom:none
	}
	
	.kenzap .kenzap-clients-1 ul li a img{
		display:block;
		width:55%;
		height:auto;
	}
}

@media screen and (min-width: 30em) {
	/* width 480px */
	
	.kenzap .kenzap-clients-1 .kenzap-xs ul li{
		width:100%;
	}
	
	.kenzap .kenzap-clients-1 .kenzap-xs ul li a,
	.kenzap .kenzap-clients-1 .kenzap-xs ul li:nth-child(3n+3) a,
	.kenzap .kenzap-clients-1 .kenzap-xs ul li:nth-child(2n+2) a{
		border-right:none;
	}

	.kenzap .kenzap-clients-1 .kenzap-xs ul li:nth-child(n+11) a{
		border-bottom:1px dashed #d7e0e5;
	}
		
	.kenzap .kenzap-clients-1 .kenzap-xs ul li:last-child a{
		border-bottom:none
	}
	
	.kenzap .kenzap-clients-1 .kenzap-xs ul li a img{
		display:block;
		width:55%;
		height:auto;
	}
}