.kenzap .kenzap-clients-2 div,
.kenzap .kenzap-clients-2 img,
.kenzap .kenzap-clients-2 ul,
.kenzap .kenzap-clients-2 li,
.kenzap .kenzap-clients-2 p,
.kenzap .kenzap-clients-2 a{
	padding: 0;
	margin: 0;
	box-shadow: none;
	border: none;
	text-decoration: none;
	list-style:none
}

.kenzap .kenzap-clients-2 .kenzap-container{
	max-width:1170px;
	padding:0 0px;
	margin:0 auto;
}

.kenzap .kenzap-clients-2 .cload{
	opacity: 0;
}

.kenzap .kenzap-clients-2 .owl-load{
	display: inline-flex;
	vertical-align: middle;
}

.kenzap .kenzap-clients-2 ul{
	padding:0;
	list-style:none;
	margin: 0;
	transition: opacity .5s ease-in-out;
	//display: inline-flex;
    overflow: hidden;
}

.kenzap .kenzap-clients-2 ul li a img{
	-webkit-transition: transform .5s ease-in-out;
	-moz-transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	max-width: unset;
}

.kenzap .kenzap-clients-2 ul li:hover a img{
	transform: scale(1.05);
}