/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: #252525;
$gray: #6b6b6b;
$green: #bada55;
$red: orangered;
$pur: #9376df;
$white: #fff;
